<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>MarseilleNYC.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aadfed.marseille.nyc</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>identityaad20160922124048.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aadfed</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IdentityAAD20160922124048</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://MarseilleNYC.onmicrosoft.com/WebApp-aadfed.marseille.nyc</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>6afd2fb3-a7b0-4ee0-9b8e-d442b5a78956</ADClientAPPID>
    <ADClientPassword>MVuVduUYwPbeyj5XVh1AeAVD3EK2stTPZC4agjcUWN0=</ADClientPassword>
    <ADReplyUrl>https://aadfed.marseille.nyc/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>ff72855a-bea5-4e27-8c78-0af52abf9a56</ADTenantId>
    <ADPostLogoutRedirectUri>https://aadfed.marseille.nyc/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>